    body {
      background-color: #1e1e2f;
      color: #fff;
      margin: 0;
    }

    .main {
      margin-left: 60px;
      padding: 20px;
      transition: margin-left 0.3s;
    }

    .upload {
      text-decoration: none;
      background-color: #62AFF8;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 10px ;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    .upload:hover {
      background-color: #4a97df;
    }

    .btn-edit {
      text-decoration: none;
      background-color: #77BDFF;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 6px 15px;
      font-size: 16px;
      font-weight: bold;
      margin: 0 2px;
      cursor: pointer;
    }

    .btn-delete {
      text-decoration: none;
      background-color: #ff77c9;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 6px 15px;
      font-size: 16px;
      font-weight: bold;
      margin: 0 2px;
      cursor: pointer;
    }

    .btn-edit:hover {
      background-color: #5ea9f0;
    }

    .btn-delete:hover {
      background-color: #c95e9f;
    }

    .search-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
      gap: 10px;
      width: 95%;
    }

    .search-container {
      flex: 0 0 65%;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 20px;
      padding: 5px;
    }

    .search-container input {
      border: none;
      outline: none;
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 20px;
      flex: 1;
      text-align: center;
    }

    .search-container input::placeholder {
      font-weight: bold;
      opacity: 1;
    }

    .search-container button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }

    .search-container button img {
      height: 24px;
      width: 24px;
      transition: transform 0.2s;
    }

    .search-container button img:hover {
      transform: scale(1.1);
    }

    .search-bar select {
      flex: 0 0 17.5%;
      background-color: #2E2E42;
      color: white;
      border: 2px solid white;
      border-radius: 8px;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    .search-bar button.upload {
      flex: 0 0 17.5%;
    }

    .song-table {
      border-collapse: separate;
      border-spacing: 0;
      width: 90%;
      margin: 20px auto;
      overflow: hidden;
      color: #fff;
    }

    .song-table th,
    .song-table td {
      padding: 12px;
      text-align: center;
    }

    .song-table th {
      background-color: #5F5F84;
    }

    .song-table .th-left {
      border-top-left-radius: 12px;
    }

    .song-table .th-right {
      border-top-right-radius: 12px;
    }

    .song-table img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
    }

    .song-table tr {
      background-color: #303042;
    }

    #pagination {
      margin-top: 20px;
      text-align: center;
    }

    #pagination button {
      margin: 0 5px;
      padding: 6px 12px;
      background-color: #444;
      border: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    #pagination button.active {
      background-color: #77BDFF;
    }