        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            height: 100vh;
            background: linear-gradient(360deg, #005c8a, #003e5e, #00293d, #000000);
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
        }

        .container {
            position: absolute;
            display: flex;
            gap: 12px;
            top: 20px;
            left: 20px;
            transform: scale(0.6);
            opacity: 0.9;
            filter: blur(0.5px);
            z-index: 10;
        }

        .letter {
            font-size: 80px;
            color: #00BFFF;
            opacity: 1;
            text-shadow: 0 0 15px #00BFFF, 0 0 30px #00BFFF, 0 0 60px #00BFFF;
        }

        .userpassword {
            width: 500px;
            padding: 10px 40px;
            background: rgba(0, 0, 20, 0.3);
            backdrop-filter: blur(12px);
            border-radius: 16px;
            color: white;
            opacity: 1;
            transform: translateY(0);
            z-index: 5;
            background-color: #000022;
        }

        .userpassword h2 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 30px;
            color: #ffffff;
        }

        .userpassword .inputtext {
            display: flex;
            gap: 15px;
            font-size: 20px;
            margin: 10px 0;
        }

        .userpassword .inputtext input {
            width: 100%;
            text-align: center;
            padding: 12px;
            margin: 5px 0;
            border: none;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            color: white;
            font-size: 20px;
        }

        .userpassword .inputtext input::placeholder {
            color: #aaa;
        }

        .userpassword .inputbtn {
            margin: 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .userpassword .user-button {
            padding: 5px;
            gap: 10px;
        }

        .userpassword .user-button {
            width: 100%;
            padding: 12px;
            background-color: #5865F2;
            border: none;
            border-radius: 8px;
            color: #ffffff;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .userpassword .user-button:hover {
            background-color: #00BFFF;
        }

        .forgot {
            font-size: 16px;
            color: #aaa;
            text-align: right;
            cursor: pointer;
            text-decoration: none;
        }